.hide-on-mobile {
  display: none;
}

.show-on-mobile {
  display: block;
}

@media screen and (min-width: 960px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }
}
